@import "../../../styles/color.scss";
@import "../../../styles/mixins.scss";

.google_button {
  cursor: pointer;
  background-color: $base-white;
  color: black;
  width: 50%;
  height: 52px;
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  justify-content: space-around;
  padding: 0.75rem 1rem;
  position: relative;
  transition: all 0.1s ease-in-out;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-top: 20px;
  margin-left: -20px;
}
