@import "../../../../styles/color.scss";
@import "../../../../styles/mixins.scss";

.container {
  width: calc(100% - 30px);
  height: 100px;
  position: absolute;
  top: 44%;

  @include mobile_m {
    top: 30%;
  }

  .rating {
    display: flex;
    align-items: center;
    width: inherit;

    h5 {
      @include font-regular-m;
      font-weight: 700;
      color: $base-white;
      margin-right: 0;
      font-size: 20px;

      @include mobile_m {
        font-size: 18px;
      }

      span {
        font-size: 18px;

        @include mobile_m {
          font-size: 17px;
        }
      }
    }

    .div_progress_bar {
      position: relative;
      top: 3px;
      width: 22px;
      margin-left: 10px;
    }
  }

  .story {
    margin: 8px 0 12px 0;

    p {
      @include font-light-s;
      font-size: 14px;
      color: $base-ligth-grey;
      margin-bottom: 5px;

      @include mobile_m {
        font-size: 11px;
      }
    }
  }

  .info {
    width: 100%;
    p {
      @include font-light-s;
      color: $base-light-blue;
      margin-bottom: 5px;
      font-size: 12px;

      @include mobile_m {
        font-size: 8px;
      }
    }
  }
}
